@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  font-family: "Heebo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 75px;
  background: #ebedec;
  padding-left: 300px;
  padding-right: 300px;
  box-sizing: border-box;
}
.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 75px;
  height: 75px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__link {
  font-weight: 500;
  font-size: 17px;
  line-height: 24.97px;
  color: #000;
  transition: all 0.3s ease-out;
}
.header__link:hover {
  opacity: 0.5;
}
/*---promo---*/
.promo {
  width: 100%;
}
.promo__wrapper {
  width: 100%;
  padding-top: 94px;
  padding-bottom: 76px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.promo__text {
  max-width: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.promo__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
}
.promo__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 23.5px;
  color: #21243d;
  margin-top: 40px;
}
.promo__button {
  width: 209px;
  height: 76px;
  background: #ff6464;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 29.38px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
  margin-top: 63px;
}
.promo__image {
  width: 243px;
  height: 243px;
  border-radius: 50%;
}
/*---articles---*/
.articles {
  width: 100%;
  background: #edf7fa;
}
.articles__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 60px;
  padding-bottom: 65px;
  box-sizing: border-box;
}
.articles__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articles__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
}
.articles__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 23.5px;
  color: #00a8cc;
}
.articles__inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  column-gap: 20px;
}
.articles__item {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px #bbe1fa40;
  padding: 24px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 4px;
}
.articles__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 38.19px;
  color: #21243d;
}
.articles__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 23.5px;
  color: #21243d;
}
/*---understanding---*/
.understanding {
  width: 100%;
}
.understanding__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.understanding__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  color: #21243d;
}
.understanding__top {
  width: 100%;
  display: flex;
  gap: 46px;
  align-items: end;
}
.understanding__image {
  width: 279px;
  height: 280px;
}
.understanding__subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 44.06px;
  color: #21243d;
  margin-bottom: 60px;
}
.understanding__list {
  display: flex;
  flex-direction: column;
  margin-top: 47px;
  gap: 25px;
}
.understanding__paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 29.38px;
  color: #21243d;
}
.understanding__list-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 29.38px;
  color: #21243d;
}
